.App {
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  padding: 0.5rem;
  color: var(--color-primary);
}
.nav-pills {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.fc-heading {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1rem;
}
.product-listing {
  display: flex;
  flex-wrap: wrap;
}
.card-design {
  color: var(--color-primary);
  margin: 2rem;
}
.product-list-item {
  max-width: 250px;
}

.card-design:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.home-cards {
  display: flex;
}
